/application-template/*
/validation/configValidator.js
/server/nats/utility/natsUtils.js
/utility/clustering/transactToClusteringUtilities.js
/utility/clustering/clusterStatus.js
/config/configUtils.js
/validation/common_validators.js
/utility/common_utils.js
/utility/logging/transactionLog.js
/utility/pm2/processManagement.js
/utility/clustering/removeNode.js
/utility/clustering/configureCluster.js