
.idea/*

/node_modules/*
hdb/*
logs/*.log
.nyc_output/*
.vs_code/*
/bin/coverage/*
coverage/*
hdb_boot_properties.file
*test_export.json.json
/unitTests/envDir/*
/unitTests/server/nats/tempTestDir/*
coverage.json
dependencies/nats-server*
dependencies/pkg/*
unitTests/server/nats/tempTestDir/*
/npm_pack/*
*.jsc

harperdb-*.tgz
