
.idea/*

/node_modules/*
hdb/*
logs/*
!logs/README.md
.nyc_output/*
.vs_code/*
/bin/coverage/*
coverage/*
hdb_boot_properties.file
*test_export.json.json
/unitTests/envDir/*
/unitTests/server/nats/tempTestDir/*
coverage.json
unitTests/server/nats/tempTestDir/*
dependencies/*
!dependencies/nats-server.zip
yarn.lock
package-lock.json

/npm_pack/*
*.jsc

harperdb-*.tgz
