on:
  workflow_dispatch:
    inputs:
      instanceType:
        default: 'c5.large'
      instanceCount:
        default: '1'
      instanceNamePrefix:
        default: ''
        description: 'Instance name in AWS will be GitHub-<workflow-name>-<run number>-<THIS VALUE>-<incrementing number>'
        type: string
name: Create Test Instances from Build Package
jobs:
  build:
    uses: ./.github/workflows/build.yaml
  createInstances:
    needs:
      - build
    uses: ./.github/workflows/create-instances.yaml
    with:
      instanceCount: ${{ inputs.instanceCount }}
      instanceType: ${{ inputs.instanceType }}
      harperdbVersion: ${{ needs.build.outputs.harperdbVersion }}
      callingWorkflow: ${{ github.workflow }}
      instanceNamePrefix: ${{ inputs.instanceNamePrefix }}
      securityGroupId: 'sg-00d03df84388398fd'
    secrets: inherit
  registerInstances:
    needs:
      - createInstances
      - build
    uses: ./.github/workflows/install-harper.yaml
    with:
      publicDns: ${{ needs.createInstances.outputs.publicDnsNames }}
      harperdbVersion: ${{ needs.build.outputs.harperdbVersion }}
      nodeVersion: ${{ needs.build.outputs.nodeVersion }}
      httpsOn: true
      generatePassword: true
      usePublicIpForReplication: true
    secrets: inherit
  destroyInstances:
    if: ${{ failure() }}
    needs: createInstances
    uses: ./.github/workflows/destroy-instances.yaml
    with:
      instanceCount: '${{ inputs.instanceCount }}'
      instanceType: ${{ inputs.instanceType }}
      callingWorkflow: ${{ github.workflow }}
    secrets: inherit
