name: Dockerhub Publish

on:
  workflow_dispatch:
    inputs:
      publish:
        description: 'Which registry do we want to publish to, public, private, or tar'
        default: 'private'
        required: false
        type: choice
        options:
          - 'public'
          - 'private'
          - 'tar'
      dockerfile:
        description: 'Which dockerfile to use for this build'
        default: 'utility/Docker/Dockerfile'
        required: false
        type: string
      docker_image:
        description: 'name of the docker image for this build'
        default: 'harperdb/harperdb'
        required: false
        type: string
      tag_latest:
        description: 'tag this build as latest in registry'
        default: 'false'
        required: false
        type: string

jobs:
  build:
    uses: ./.github/workflows/build.yaml
  getLicenses:
    runs-on: ubuntu-latest
    timeout-minutes: 35
    steps:
    - uses: actions/checkout@v3
    - name: "Get Latest License Files"
      run: .github/scripts/get-license-files.sh
    - name: "Get HarperDB/harperdb_open_source_license_generator.git"
      uses: actions/checkout@v3
      with:
        repository: "HarperDB/harperdb_open_source_license_generator.git"
        path: "harperdb_open_source_license_generator"
        ref: "master"
    - uses: actions/setup-node@v3
    - name: "Generate license file"
      env:
        project_path: "."
        output_file: "utility/Docker/licenses/open-source-licenses-notices.md"
        template_file: "harperdb_open_source_license_generator/template.txt"
      run: |
        #!/usr/bin/env bash
        cd harperdb_open_source_license_generator
        npm install --omit=dev 
        cd -
        node harperdb_open_source_license_generator/index.js
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v3
      with:
        name: "licenses"
        path: "utility/Docker/licenses/"
        retention-days: 1
  build-container-harperdb:
    needs:
      - build
      - getLicenses
    runs-on: gha-runner-scale-set
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: "Setup Docker buildx"
      uses: docker/setup-buildx-action@v2
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - uses: actions/download-artifact@v3
      with:
        name: harperdb-${{ needs.build.outputs.harperdbVersion }}.tgz
        path: ./
    - uses: actions/download-artifact@v3
      with:
        name: "licenses"
        path: "utility/Docker/licenses/"
    - name: "Publish ${{ inputs.docker_image }} as ${{ inputs.publish }}"
      env:
        HARPERDB_VERSION: "${{ needs.build.outputs.harperdbVersion }}"
        NODE_VERSION: "${{ needs.build.outputs.nodeVersion }}"
        PUBLISH: "${{ inputs.publish }}"
        GITHUB_RUN_NUMBER: "${{ vars.GITHUB_RUN_NUMBER }}"
        DOCKERFILE: "${{ inputs.dockerfile }}"
        DOCKER_IMAGE: "${{ inputs.docker_image }}"
        TAG_LATEST: "${{ inputs.tag_latest }}"
      run: ./.github/scripts/docker-publish.sh
      timeout-minutes: 30
